:root{
  --background-color: #EBDCB2;
  --color-orange: #AF4425;
  --color-outline: #662E1C;
  --color-beige: #C9A66B;
  --bg-color-search: rgba(235, 220, 178, 0.79);
}
::placeholder {
  color: var(--color-beige);
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  /*color: white;*/
  text-decoration: none;
}
.container {
  max-width: 1600px;
  margin: auto;
  padding: 0 50px;
}
body {
  background-color: var(--background-color);
  font-size: 16px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.photo-card {
  max-width: calc((100% - 2 * 15px) / 3);
}
.border img {
  transition: .5s ease;
}

.border img:hover{
  box-shadow: 0 0 0 10px #000000;
  transition: .5s ease;
}
.image {
  max-width: 100%;
  max-height: 100%;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  width: 100%;
  color: var(--color-beige)
}

input[name='searchQuery'] {
  width: 30%;
  text-align: center;
  display: block;
  background-color: var(--bg-color-search);
  padding: 10px 50px;
  color: var(--color-beige);
  border: 1px solid;
  border-color: var(--color-outline);
  border-radius: 10px;
  transition: box-shadow 0.5s, transform 0.5s;
}
input[name='searchQuery']:hover, input[name='searchQuery']:active{
  background-color: var(--color-outline);
  transition: 300ms;
}
button {
  display: block;
  text-align: center;
  background-color: var(--bg-color-search);
  color: var(--color-beige);
  border: 1px solid;
  border-color: var(--color-outline);
  border-radius: 10px;
  padding: 10px 50px;
  margin-left: 30px;
  cursor: pointer;
  transition: box-shadow 0.5s, transform 0.5s;
}
button:hover {
  background-color: var(--color-outline);
  transition: 300ms;
}
.load-more {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 30%;
}
.info {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  gap: 15px;
  justify-content: center;
  color: var(--color-outline);
}
.photo-card img{
  border-radius: 10px;
}
.photo-card {
  border-radius: 10px;
  transition: box-shadow 0.5s, transform 0.5s;
  position: relative;
  z-index: 0;
}
.photo-card:hover {
  transform: perspective(400px) scale(102%);
  box-shadow: 0px 0px 24px 5px var(--color-outline);
  z-index: 1;
}
